html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

#root
  position: relative
  width: 100%
  height: 100%
  background: #1b1b1b

  #panel-left
    animation: switch-right 2s forwards

  #panel-right
    animation: switch-left 2s forwards

  &.play-animation
    #panel-left
      animation: switch-left 2s forwards

    #panel-right
      animation: switch-right 2s forwards

  .panel
    display: flex
    width: 100%
    height: 100%
    overflow: hidden
    position: absolute
    transition: clip-path 2s

    > section
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      font-size: 50px
      color: #fff

    &-left
      background: blue
      clip-path: inset(0 0 0 50%)

    &-right
      background: red
      clip-path: inset(0 50% 0 0)

@keyframes switch-right
  0%
    clip-path: inset(0 50% 0 0)
  100%
    clip-path: inset(0 0 0 50%)

@keyframes switch-left
  0%
    clip-path: inset(0 0 0 50%)
  100%
    clip-path: inset(0 50% 0 0)

@keyframes switch-right-alt
  0%
    clip-path: inset(0 50% 0 0)
  50%
    clip-path: inset(0 0 0 50%)
  100%
    clip-path: inset(0 0 0 50%)

@keyframes switch-left-alt
  0%
    clip-path: inset(0 0 0 50%)
  50%
    clip-path: inset(50% 50% 50% 50%)
  100%
    clip-path: inset(0 50% 0 0)
